.homepageContainer{
  min-width: 100vw;
  height: 100vh;
  background-color: #00080a;
}

.spaceBackground {
  min-width: 100vw;
  background-color: #00080a;

  padding-top: 10%;
  height: 80%;
  background-image: url(../images/map/bg_space.jpg);
  background-repeat: repeat;
  background-size: contain;
}

.spaceBackground img{
  position: absolute;
}


/* calvary */


.calvary:hover, .satellite:hover, .geoguessr:hover {
  animation: hoverPlanet 3s ease-in-out infinite;
  transition: transform 1s ease-out;
  cursor: pointer;
}

/* .calvary:active, .satellite:active, .geoguessr:active {
  animation: selectPlanet 2s;
  transition: transform 1s ease-out;
} */


.satellite {
  width: 250px;
  left: 650px;
  top: calc(50vh - 150px);
}

.geoguessr {
  width: 250px;
  left: 950px;
  top: calc(50vh - 150px);
}

.curtain {
  position: fixed;
  min-width: 100vw;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  display: none;
  opacity: 0;
  transition: opacity 3s;
  z-index: 9999999;
}


@keyframes hoverPlanet {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.5);}
  100% {transform: scale(1);}
}

@keyframes selectPlanet {
  0%   {transform: scale(1)}
  25%  {transform: scale(21)}
  50%  {transform: scale(1)}
  100% {transform: scale(20)}
}

h4 {
  font-size: 100px;
  color: whitesmoke;
  position: absolute;
  left: 1885px;
  padding-right: 150px;
  padding-top: 70px;
  top: calc(50vh - 350px);
}
