.nomineesContainer {
  width: 100vw;
  height: 100vh;
  animation: darken 3s forwards;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}

.thumbnailsContainer{
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.thumbnailsContainer img{
  width: 120px;
  cursor: pointer;
  animation: appear 2s 1s forwards;
  opacity: 0;
}

.nomineesSelected{
  width: 80%;
  margin: 0 auto;
  display: flex;
  animation: appear 2s 1s forwards;
  opacity: 0;
  
}

.nomineesSelected h2{
  color: whitesmoke;
  font-size: 32px;
  font-weight: 700;

}

.nomineesSelected p{
  color: whitesmoke;
  font-size: 20px;
  height: 350px;
  overflow-y: overlay;
  padding-right: 40px;
}

.nomineesSelected img{
  width: 400px;
  object-fit: cover;
}

.nomineesContainer h1{
  color: whitesmoke;
  font-size: 32px;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  animation: appear 2s 1s forwards;
}

@keyframes darken {
  0%{
    background-color: rgba(0, 0, 0, 0);

  }
  100%{
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes appear {
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .nomineesSelected p{
    color: whitesmoke;
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .nomineesSelected img{
    width: 200px;
  }
}