body {
  min-width: 100vw;
  background-color: #00080a;
  background-image: url(./images/map/bg_space.jpg);
  background-repeat: repeat;
  background-size: contain;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.mapLink {
  font-weight: 700;
  text-decoration: none;
  color: rgb(231, 226, 226);
  position: fixed;
  right: 40px;
  top: 20px
}

.mapLink:hover {
  color: rgb(255, 253, 253);
}

.curtain {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  animation: disappear 5s 6s forwards;
}

.curtain h2{
  width: 50%;
  margin: 0 auto;
  padding-top: 30vh;
}

@keyframes disappear {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
